/* Start Global Rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
/* Start Global Roots */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
}
/* End Global Roots */
/* Start Components */
.special-heading {
  color: #ebeced;
  text-align: center;
  font-size: 100px;
  font-weight: 800px;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  text-align: center;
  margin-top: -30px;
  font-size: 20px;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* End Components */
/*Small Screens*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*Large Screens*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}

.header .links {
  position: relative;
  cursor: pointer;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon:hover .header .links ul {
  display: block;
}
.header .links .icon span {
  background-color: black;
  height: 2px;
  margin-bottom: 5px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}
.header .links .icon span:last-child {
  width: 100%;
}

.header .links ul {
  background-color: var(--section-background-color);
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
  position: absolute;
  top: calc(100% + 20px);
  right: 0px;
  display: none;
  z-index: 1;
}
.header .links ul::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #e7ddddf3 transparent;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  padding: 15px;
  text-decoration: none;
  display: block;
  color: #333;
  transition: 0.3s;
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) {
  border-bottom: solid 1px #ddd;
}
/* End Header */
/* Start Landing */
.landing {
  background-image: url(../images/landing.jpeg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}
/* End Landing */
/* Start Features */
.features {
  background-color: var(--section-background);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.features .feat {
  padding: 20px;
  text-align: center;
}
.features .feat i {
  color: var(--main-color);
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
/* End Features */
/* Start services*/
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
  .services .services-content .srv i {
    width: 100%;
    margin-bottom: 20px;
  }
  .services .services-content .srv .text {
    width: 100%;
  }
}
.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  margin: 0 0 20px;
}
.services .services-content .srv .text p {
  color: #777;
  font-weight: 300;
  line-height: 1;
}
.services .services-content .image {
  position: relative;
  text-align: center;
}
.services .services-content .image img {
  width: 260px;
}
.services .services-content .image::before {
  content: "";
  position: absolute;
  top: -50px;
  right: 0;
  width: 100px;
  height: calc(100% + 100px);
  background-color: var(--secondary-color);
  z-index: -1;
}
@media (max-width: 1199px) {
  .services .services-content .image {
    display: none;
  }
}
/* End services*/

/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.portfolio .portfolio-content .card {
  background-color: white;
}
.portfolio .portfolio-content .card img {
  max-width: 100%;
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
  margin-bottom: 15px;
}
.portfolio .portfolio-content .card .info p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}
/* End Portfolio */
/* Start About */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}
.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width: 991px) {
  /* .about .about-content .image {
    margin: 0 auto 60px;
  } */
}
.about .about-content .image img {
  max-width: 100%;
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  left: -20px;
  background-color: #ebeced;
  z-index: -1;
}
.about .about-content .image::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  top: -40px;
  right: -150px;
  z-index: -1;
}
@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content .paragraph {
  flex-basis: calc(100% - 500px);
}
.about .about-content .paragraph p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}

.about .about-content .paragraph hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}

.about .about-content .paragraph p:last-of-type {
  color: #777;
  line-height: 2;
  margin-top: 40px;
}
/* End About */

/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .info {
  text-align: center;
  padding: 60px 0;
}
.contact .info p {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info a {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
@media (max-width: 767px) {
  .contact .info p,
  .contact .info a {
    font-size: 25px;
  }
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.contact .info .social i {
  margin-left: 10px;
  color: var(--secondary-color);
}
/* End Contact */

/* Start Footer */
.footer {
  color: white;
  background-color: var(--secondary-color);
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
.footer span {
  color: var(--main-color);
  font-weight: bold;
}
/* End Footer */
